<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Clases Detalle</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button" (click)="agregarDetalle()">Añadir</button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col" *ngFor="let d of detalles">
                    <div class="card h-100 shadow-sm bg-success text-white">
                        <div class="card-header text-center fw-bold">
                            {{ d.fecha | date:'EEEE d MMMM y' : 'es' }}
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ d.descripcion }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>