<!-- Usamos el HTML que me pasaste pero agregamos el #addExamBtn para el click de Angular -->
<main class="container mt-4">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary d-flex justify-content-between align-items-center">
        <div class="col-lg-6 px-0">
            <h1 class="display-4 fst-italic">Examenes</h1>
            <p class="lead my-3">Fechas para poner los exámenes</p>
        </div>
        <button class="btn btn-primary btn-lg" (click)="anadirExamen()">Añadir examen</button>
    </div>
    <div class="row g-5">
        <div class="col-md-8">
            <article class="blog-post">
                <h2 class="display-5 link-body-emphasis mb-1">Próximos Exámenes</h2>
                <div id="futureExamsContainer"></div>
                <hr>
            </article>
        </div>
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div>
                    <h4 class="fst-italic">Examenes anteriores</h4>
                    <ul class="list-unstyled" id="pastExamsContainer"></ul>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="py-5 text-center bg-dark">
    <p><a href="https://github.com/Jorgeev27" target="_blank">Jorge Escobar Viñuales</a></p>
    <p class="mb-0"> <a href="">Volver</a> </p>
</footer>